---
const { post } = Astro.props;

export function formatDate(date: Date) {
  return new Date(date).toLocaleDateString('es-PE', {
    timeZone: "UTC",
  })
}
---

<article>
	<a href={`/publicaciones/${post.id}`} title={post.data.title}>
		<h3>{post.data.title}</h3>

		<figure>
			<img src={post.data.image} alt={post.data.title} loading="lazy" />
			<figcaption>
				Publicado el: <br />
				<time datetime={formatDate(post.data.date)}
					><strong>{formatDate(post.data.date)}</strong></time
				>
			</figcaption>
		</figure>

		<div>
			<p>
				{post.data.description.slice(0, 180)}...
			</p>
			<small>Categoría: <strong>{post.data.category}</strong></small>
		</div>
	</a>
</article>
